.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #B1D9DB;
}

.left-section {
 
  width: 40%;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}

.left-section .obj {
  position: absolute;
  width: 309px;
  height: 101px;
  top: 50px;
  left: 30px;
  color: white;
  justify-content: center;
  align-content: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-align: left;
 
}
.Image {
  width: 461.00000338149647px;
  height: 502.000003682237px;
  top: 392.6227264404297px;
  left: 18.567138671875px;
  rotate: -7.15deg;
  max-width: 100%;
  justify-content: center;
 
}


.right-section {
  width: 1152px;
  height: 700px;
  top: 19px;
  left: -8px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.form-title {
  font-size: 24px;
  margin-bottom: 24px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.social-button {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background-color: white;
  color: black;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10%;
  margin-right: 10%;
}

.social-button i {
  margin-left: 8px;
  margin-right: 8px;
}

.signup-form {
  width: 100%;
}

.form-group {
  margin-bottom: 24px;
  
}

.form-label {
  display: block;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid grey;
}

.form-error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.form-button {
  width: 100%;
  padding: 8px;
  background-color: #B1D9DB;
  ;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #45a049;
}

.success-message {
  color: #7CD2D7;
   padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}